<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.addBusiness.addbiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Declare and use a custom permission so only this application can receive GCM messages: -->

    <permission
        android:name="com.addBusiness.addbiz.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.addBusiness.addbiz.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.addBusiness.addbiz.Add_biz_splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.AddBizDashboardActivity"
            android:label="@string/title_activity_add_biz_splash" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.Help_options"
            android:label="@string/title_activity_help_options" >
        </activity>

        <receiver
            android:name="com.addBusiness.addbiz.MyBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.addBusiness.addbiz" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.addBusiness.addbiz.RegisterBizDataActivity"
            android:label="@string/title_activity_register_biz_data" >
        </activity>

        <service android:name="com.addBusiness.addbiz.GetGPSLocation" />

        <activity
            android:name="com.addBusiness.addbiz.RegisterBizData"
            android:label="@string/title_activity_register_biz_data" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.AroundMe"
            android:label="@string/title_activity_around_me" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.PlacesList"
            android:label="@string/title_activity_places_list" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.PlaceDetails"
            android:label="@string/title_activity_place_details" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.BusinessOwnerTabs"
            android:label="@string/title_activity_business_owner_tabs" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.AddBusiness"
            android:label="@string/title_activity_add_business" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.AddProduct"
            android:label="@string/title_activity_add_product" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.OffersPlus"
            android:label="@string/title_activity_offers_plus" >
        </activity>
        <activity
            android:name="com.addBusiness.addbiz.ForgotPassword"
            android:label="@string/title_activity_forgot_password" >
        </activity>
    </application>

</manifest>